@import "tailwindcss";


/*   <section id="allCard">
            <div class="card flex justify-between">
                <!-- left side -->
                <div>


                    <div>
                        <p id="Mobile">Mobile First Corp</p>
                        <p id="React">React Native Developer</p>
                        <p>Remote
 • 
Full-time 
•
 $130,000 - $175,000</p>
                    </div>

                    <div>
                        <p class="Applied">Not Applied</p>
                        <p class="notes">Build cross-platform mobile applications using React Native. Work on products used by millions of users worldwide.</p>
                    </div>





                    <div>
                        <button class="interview-btn">interview</button>
                        <button class="Rejected-btn">Rejected</button>
                    </div>


                    <!-- icon hobe  -->
                    <div>
                        <button class="btn-delete">Delete</button>
                    </div>
                   
                
                <div></div>
            </div>*/